<!DOCTYPE html>

<footer>
    <nav>
        <ul>
            <li><a href="https://github.com/KenLWabibi">GitHub</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/">GitHub.io</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/web115/">WEB115</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/web250/">WEB250</a></li> 💦
            <li><a href="https://www.freecodecamp.org/poacode">freeCodeCamp</a></li> 💦
            <li><a href="https://www.codecademy.com/profiles/Poacode">Codeacademy</a></li> 💦
            <li><a href="https://jsfiddle.net/u/Poacode">JSFiddle</a></li> 💦
            <li><a href="https://www.linkedin.com/in/ken-wabibi-715158a2/">Linkedin</a></li>
        </ul>
    </nav>
    <p>Website designed by Wabibi Industries | Certified in <a href="https://freecodecamp.org/certification/poacode/responsive-web-design">RWD</a></p>
</footer>
