<!DOCTYPE html>

<footer>
    <p>Website designed by Wabibi Industies</p>
    <nav>
        <ul>
            <li><a href="https://github.com/KenLWabibi">Github</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/">Github.io</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/web115/">WEB115</a></li> 💦
            <li><a href="https://KenLWabibi.github.io/web250/">WEB250</a></li> 💦
            <li><a href="https://www.freecodecamp.org/poacode">freeCodeCamp</a></li> 💦
            <li><a href="https://www.codecademy.com/profiles/Poacode">Codeacademy</a></li> 💦
            <li><a href="https://jsfiddle.net/u/Poacode">JSFiddle</a></li> 💦
            <li><a href="https://www.linkedin.com/in/ken-wabibi-715158a2/">Linkedin</a></li>
        </ul>
    </nav>
</footer>
