@charset "utf-8";

/* =============================================
	Author: ken Wabibi 
	Date: 18Jan24
   =============================================
*/
html, body {
/* Increase font size for desktop */
	font-size: 20px;
}
html {
/* Set background color for desktop */
    background-image: url("../images/rustedmetal.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    background-color:#727171; 
    background-blend-mode: soft-light;
    height: 100vh;
    margin: 0;	
}
header {
    width: 100%;	
    max-width: 1200px;
    background-color:#967867; 
    border: 5px solid #732d02;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
figure figcaption {
    text-align: center;	
}
figure figcaption alt {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;	
}
body { 
    width: 100%;	
    max-width: 1290px;
    background-color:#7e8182; 
    border: 20px solid #732d022f;
    background-blend-mode: soft-light;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    margin: 0 auto;
    padding: 50px;
    text-align: left;	
}
.container{
    width: 100%;	
    max-width: 1200px;
    background-color:#b6b9ba; 
    border: 10px solid #000000;
    background-blend-mode: soft-light;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
}
figure figcaption {
    text-align: center;	
}
figure figcaption alt {
    display: block;
    margin-left: auto;
    margin-right: auto;	
}
img {
    border: 5px solid #000000;	
}
nav { 
    padding: 5px;
    text-align: center; 
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin: 0;
}
nav li {
    display: inline-block;
    list-style-type: none;
    padding: 5px;
    margin: 0 15px;
    font-size: 1em;
}
a {
	color: #000000;
}
a:hover {
	color: #c00707;
}
a:focus {
	outline: thin dotted;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;
}
footer {
/* Footer styles */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif; 
    	padding: 20px;
    	text-align: center; 
	margin-top: 90px;
	background-color:#b6b9ba; 
    	border: 2px solid #000000;
}
footer a {
	font-size: 1em;
	text-align: center; 
	margin: 0; 
    	padding: 0;
}
